body{
    display: flex;
    padding: 0px;
    height: 500px;
}
.container1{
    background-color: aquamarine;
    background-image: url(./images/puppy.jpg);
    background-size: cover;
    background-position: -150px;
    width: 250px;
    height:500px;
    margin: 0px;
}
.container2{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainwriting{
    font-size: 2em;
}

.center{
    margin-bottom: 10px;
}

#logo{
    mix-blend-mode: darken;
    position: relative;
    top: -2em;
}

#logobox{
    position: relative;
    top: 7rem;
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 2em;
    padding-bottom: 2em;
    color: white;
    text-align: center;
    max-height: 2em;
    display: flex;
    justify-content: right;
    padding-right: 0;
}

.logotxt{
    position: relative;
    top: 1em;
    color: rgb(124, 89, 13);
}
.headfoot{
    flex: 1;
    background-color: rgb(146, 211, 146);
}

.formtitle{
    text-align: center;
    padding: 10px;
}
div.input-control{
    color: rgb(90, 114, 221);
    font-size: 15px;
}

.error{
    min-height: 15px;
    color: rgb(221, 25, 25);
    font-size: 10px;
}

.input-control{
    display: flex;
    flex-direction: column;
}

.input-control input{
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 10px;
    padding: 5px;
}
.names{
    display: flex;
    justify-content: space-around;
}

.emnum{
    display: flex;
    justify-content: space-around;
}

.passwords{
    display: flex;
    justify-content: space-around;
}

#subbut{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 10px;
    margin-left: 15px;
    border: none;
    border-radius: 4px;
    background-color: rgb(31, 168, 18);
    color: white;
}

a{
    color: rgb(31, 151, 31);
}

.signin{
    font-size: 10px;
    padding-left: 10px;
}

.input-control.error input{
    border-color: red;
}

.input-control.success input{
    border-color: green;
}

:focus{
    box-shadow: 2px 2px rgb(27, 158, 219);
}